.search-box {
    position: relative;
    display: flex;
    align-items: center;
    
    background-color: #e2e6ed; 
    border: 1px;
    border-radius: 50px;    
    padding: 8px 15px;      
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
    
    width: 100%;     
    max-width: 550px;  
    margin: 0 auto;   
}

.search-box input[type="text"] {
    flex-grow: 1;        
    border: none;
    outline: none;
    background-color: transparent; 
    font-size: 0.95rem;
}


.search-box a {
    text-decoration: none;
    color: #6c757d;  
    padding-left: 10px; 
}

.nav-links a {
    text-decoration: none;
    color: #212529; 
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #e2e6ed; 
    color: #343a40;
    font-weight: bold;
}

.nav-pills .nav-link {
    color: #545a5f;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #adb5bd;
}
.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #dee2e6;
}
.divider-text {
    padding: 0 1rem;
    font-size: 0.8rem;
}
a {
    text-decoration: none;
}
.navbar-logo-img {
    height: 40px;
}

.product-title-h1 {
    font-size: clamp(28px, 20px + 1.5vw, 40px);
}

.product-price-h4 {
    font-size: clamp(18px, 16px + 0.5vw, 20px);
}

.product-option-label-size {
    width: 100px;
    padding-top: 5px;
    font-size: 0.9rem;
}

.product-option-label-qty {
    width: 100px;
    font-size: 0.9rem;
}

.product-stock-status {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.product-button-group {
    margin-left: 100px;
    gap: 10px;
}

.btn-add-to-cart {
    flex: 1;
    --bs-btn-bg: #fff7f6;
}

.btn-buy-now {
    flex: 1;
    font-weight: bold;
}

.product-description-list {
    padding-left: 10px;
}